In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("C:\\Users\\sanja\\Downloads\\Titanin_train.csv",usecols=['Age','Pclass','SibSp','Parch','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [4]:
df.dropna(inplace=True)

In [9]:
x = df.iloc[:,1:5]
y = df.iloc[:,0]

In [10]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.6933333333333332

In [11]:
# applying feature contruction

x['family_size'] = x['SibSp'] + x['Parch'] +1

In [13]:
x.head()

   Pclass   Age  SibSp  Parch  family_size
0       3  22.0      1      0            2
1       1  38.0      1      0            2
2       3  26.0      0      0            1
3       1  35.0      1      0            2
4       3  35.0      0      0            1

In [14]:
def myfuct(num):
    if(num == 1):
        return 0
    
    elif(num >1 and num <=4):
        return 1
    
    else:
        return 2
    
myfuct(6)

2

In [15]:
x['family_type'] = x['family_size'].apply(myfuct)

In [16]:
x

     Pclass   Age  SibSp  Parch  family_size  family_type
0         3  22.0      1      0            2            1
1         1  38.0      1      0            2            1
2         3  26.0      0      0            1            0
3         1  35.0      1      0            2            1
4         3  35.0      0      0            1            0
..      ...   ...    ...    ...          ...          ...
885       3  39.0      0      5            6            2
886       2  27.0      0      0            1            0
887       1  19.0      0      0            1            0
889       1  26.0      0      0            1            0
890       3  32.0      0      0            1            0

[714 rows x 6 columns]

In [17]:
x.drop(columns=['SibSp','Parch','family_size'], inplace=True)

In [18]:
x.head()

   Pclass   Age  family_type
0       3  22.0            1
1       1  38.0            1
2       3  26.0            0
3       1  35.0            1
4       3  35.0            0

In [19]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.7003174603174602