In [1]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import cross_val_score
import pandas as pd

In [12]:
import seaborn as sns
df = sns.load_dataset("iris")

In [13]:
# Exhaustive feature selection
from mlxtend.feature_selection import ExhaustiveFeatureSelector  as EFS

In [14]:
lr = LogisticRegression()

sel = EFS(lr, max_features=4, scoring='accuracy', cv=5)

In [15]:
model = sel.fit(df.iloc[:,:4],df['species'])

c:\Users\sanja\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
Features: 15/15

In [16]:
model.best_score_

0.9733333333333334

In [17]:
model.best_feature_names_

('sepal_length', 'sepal_width', 'petal_length', 'petal_width')

In [18]:
model.subsets_

{0: {'feature_idx': (0,),
  'cv_scores': array([0.66666667, 0.73333333, 0.76666667, 0.76666667, 0.83333333]),
  'avg_score': 0.7533333333333333,
  'feature_names': ('sepal_length',)},
 1: {'feature_idx': (1,),
  'cv_scores': array([0.53333333, 0.56666667, 0.53333333, 0.56666667, 0.63333333]),
  'avg_score': 0.5666666666666667,
  'feature_names': ('sepal_width',)},
 2: {'feature_idx': (2,),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('petal_length',)},
 3: {'feature_idx': (3,),
  'cv_scores': array([1.        , 0.96666667, 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.96,
  'feature_names': ('petal_width',)},
 4: {'feature_idx': (0, 1),
  'cv_scores': array([0.73333333, 0.83333333, 0.76666667, 0.86666667, 0.86666667]),
  'avg_score': 0.8133333333333332,
  'feature_names': ('sepal_length', 'sepal_width')},
 5: {'feature_idx': (0, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'petal_length')},
 6: {'feature_idx': (0, 3),
  'cv_scores': array([0.93333333, 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'petal_width')},
 7: {'feature_idx': (1, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_width', 'petal_length')},
 8: {'feature_idx': (1, 3),
  'cv_scores': array([0.93333333, 0.96666667, 0.9       , 0.93333333, 0.96666667]),
  'avg_score': 0.9400000000000001,
  'feature_names': ('sepal_width', 'petal_width')},
 9: {'feature_idx': (2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.96,
  'feature_names': ('petal_length', 'petal_width')},
 10: {'feature_idx': (0, 1, 2),
  'cv_scores': array([0.93333333, 1.        , 0.9       , 0.93333333, 1.        ]),
  'avg_score': 0.9533333333333334,
  'feature_names': ('sepal_length', 'sepal_width', 'petal_length')},
 11: {'feature_idx': (0, 1, 3),
  'cv_scores': array([0.9       , 0.96666667, 0.93333333, 0.93333333, 1.        ]),
  'avg_score': 0.9466666666666667,
  'feature_names': ('sepal_length', 'sepal_width', 'petal_width')},
 12: {'feature_idx': (0, 2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9666666666666668,
  'feature_names': ('sepal_length', 'petal_length', 'petal_width')},
 13: {'feature_idx': (1, 2, 3),
  'cv_scores': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9666666666666668,
  'feature_names': ('sepal_width', 'petal_length', 'petal_width')},
 14: {'feature_idx': (0, 1, 2, 3),
  'cv_scores': array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ]),
  'avg_score': 0.9733333333333334,
  'feature_names': ('sepal_length',
   'sepal_width',
   'petal_length',
   'petal_width')}}

In [34]:
df1 = pd.read_csv("C:\\Users\\sanja\\Downloads\\HousingData.csv")
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [35]:
df1.dropna(axis=1,inplace=True)

In [36]:
df1

       NOX     RM     DIS  RAD  TAX  PTRATIO       B  MEDV
0    0.538  6.575  4.0900    1  296     15.3  396.90  24.0
1    0.469  6.421  4.9671    2  242     17.8  396.90  21.6
2    0.469  7.185  4.9671    2  242     17.8  392.83  34.7
3    0.458  6.998  6.0622    3  222     18.7  394.63  33.4
4    0.458  7.147  6.0622    3  222     18.7  396.90  36.2
..     ...    ...     ...  ...  ...      ...     ...   ...
501  0.573  6.593  2.4786    1  273     21.0  391.99  22.4
502  0.573  6.120  2.2875    1  273     21.0  396.90  20.6
503  0.573  6.976  2.1675    1  273     21.0  396.90  23.9
504  0.573  6.794  2.3889    1  273     21.0  393.45  22.0
505  0.573  6.030  2.5050    1  273     21.0  396.90  11.9

[506 rows x 8 columns]

In [37]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(df1.iloc[:,:-1], df1['MEDV'], test_size=0.2, random_state=2)

In [38]:
print(X_train.shape)
print(X_test.shape)

(404, 7)
(102, 7)

In [44]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [45]:
# baseline model
import numpy as np
from sklearn.metrics import r2_score
model = LinearRegression()

print("training", np.mean(cross_val_score(model, X_train, y_train, cv=5, scoring='r2')))
print("testing", np.mean(cross_val_score(model, X_test, y_test, cv=5, scoring='r2')))

training 0.6026004979923607
testing 0.6154227901467528

In [50]:
lr = LinearRegression()

exh = EFS(lr, max_features=7, scoring='r2', cv=5, print_progress=True, n_jobs=-1)

sel = exh.fit(X_train, y_train)

Features: 127/127

In [51]:
sel.best_score_

0.6026004979923607

In [52]:
sel.best_feature_names_

('0', '1', '2', '3', '4', '5', '6')

### sequential backword elimination

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SequentialFeatureSelector as SFS 
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv("C:\\Users\\sanja\\Downloads\\HousingData.csv")

df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [7]:
df.dropna(axis=0, inplace=True)

In [8]:
X = df.drop("MEDV", axis=1)
y = df['MEDV']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=2)

In [11]:
X_train.shape

(315, 13)

In [12]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [13]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
model = LinearRegression()

print("training", np.mean(cross_val_score(model, X_train, y_train, cv=5, scoring='r2')))
print("testing", np.mean(cross_val_score(model, X_test, y_test, cv=5, scoring='r2')))

training 0.7280607870049598
testing 0.7237319905308942

In [14]:
lr = LinearRegression()

sfs = SFS(lr, n_features_to_select='auto', direction= 'backward', scoring='r2', cv=5)

sfs.fit(X_train, y_train)

SequentialFeatureSelector(direction='backward', estimator=LinearRegression(),
                          n_features_to_select='auto', scoring='r2')

In [24]:
X_train_sel = sfs.transform(X_train)
X_test_sel = sfs.transform(X_test)

model = LinearRegression()

print("training", np.mean(cross_val_score(model, X_train_sel, y_train, cv=5, scoring='r2')))
print("testing", np.mean(cross_val_score(model, X_test_sel, y_test, cv=5, scoring='r2')))

training 0.7235752116338634
testing 0.7102743448902951